{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>2023 Philadelphia Convention - Registration</title>

    <!-- Bootstrap CSS from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <style>
            /* #container{
                background: url("/static/background.jpg") 0 0 no-repeat fixed;
                color: white;
                } */
    </style>
</head>
<body>
    <div class="container mt-5" id="container">
        <div class="row justify-content-center">
            <img src="/static/background.jpg" style="width: 50%;">
            <div class="mb-4">
                <p class="fw-bold text-center h5">欢迎来到2023年非拉铁非众教会特会!</p>
                <p class="fw-bold text-center h5">Welcome to 2023 Philadelphia Churches Convention!</p>
            </div>
            <div class="col-lg-6">
                {% block result %}
                {% if code %}
                <div class="mb-4 text-center shadow-lg p-4 rounded border border-primary">
                    <p>Hi! {{selected_name}} ❤️</p>
                    <h4>您的报到号码为</h4>
                    <h4>Your registration number is</h4>
                    <h1 class="text-primary">{{ code }}</h1>
                    <p>请将此号码告诉报到组，他们将会协助您😇</p>
                    <p>Please provide this number to the registration team, <br>they will assist you😇</p>
                </div>
                {% endif %}
            {% endblock %}
                <form action="/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="d-block mb-2" for="participants_dropdown">请输入您的名字 Please Enter Your Name:</label>
                        <select name="participants_dropdown" class="form-control" id="participants_dropdown" data-live-search="true">
                            <option selected disabled hidden>Enter your name</option> 
                            {% for item in participants %}
                                <option 
                                {% if selected_name == item %} selected {% endif %} 
                                value="{{ item }}"> {{ item }} </option>
                            {% endfor %}
                        </select>
                        {% if form_valid %}
                        <small class="text-danger">This field is required</small>
                        {% endif %}
                    </div>
                    <input disabled id="form-submit" class="my-4 btn btn-primary d-block w-100" type="submit" value="提交 Submit">
                </form>
                

            </div>
        </div>
        <!-- <img src="/static/background.jpg" width="100%"> -->
    </div>

    <!-- Bootstrap JS and Popper.js from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
    <script>
        function handleDropdownChange() {
            // Check if the selected option is not the default one
            if ($('#participants_dropdown').val() !== null) {
                // Enable the submit button
                $('#form-submit').prop('disabled', false);
            } else {
                // If the default option is selected, disable the submit button
                $('#form-submit').prop('disabled', true);
            }
        } 

        $(document).ready(function() {
            $('#participants_dropdown').select2();

            $('.select2 select2-container').css({width: '100%'});

            handleDropdownChange()
            $('#participants_dropdown').change(handleDropdownChange);
            
            
        });

   </script>
</body>
</body>
</html>
